body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  padding-left: 10%;
}

.status {
  padding-left: 10%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0 20px;
}

.images-column {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}

.input-image {
  flex: 1;
  width: 60%;
  height: auto;
  border: 2px solid #ccc; /* Add borders */
  margin-bottom: 10px;
}

.output-image {
  flex: 1;
  width: 60%;
  height: auto;
  border: 3px solid #000000; /* Add borders */
  margin-top: 10px;
}

.buttons-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;
}

.button {
  margin-top: 2vh;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}

.upload-container {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 2vh;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #777;
  text-align: center;
  overflow: hidden;
}

.upload-container:hover {
  border-color: #555;
}

.upload-container input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-container .icon {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #555;
}

.upload-container p {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

.lowerSlider {
  margin-top: 1vh;
}

#lowerThresholdSlider,
#upperThresholdSlider {
  width: 100%;
}

#lowerThresholdLabel,
#upperThresholdLabel {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.thresholdTypeContainer {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thresholdTypeDropdown {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: dashed;
  border-color: #777;
  background-color: #fff;
  color: #555;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#thresholdTypeDropdown:hover {
  background-color: #f1f1f1;
}

#output-canvas {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .images-column {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5%;
  }

  .buttons-column {
    flex: 1;
  }
}
