# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.



# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.idea
.idea/workspace.xml

#graph auto-save files
#public/saves

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
