/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
:root {
    --top-menu-font-size: calc(0.6vh + 0.6vw);
    --top-menu-icon-height: 4.7vh;
}


.Program {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
}

.TopMenus {
    display: flex;
    height: 5%;
    flex-direction: row;
    background-color: #D3D3D3;
    align-items: center;
    justify-content: space-evenly;

}

.LowerPanel {
    display: flex;
    flex-wrap: nowrap;
    height: 95%;
    width: 100%;
}

.SemanticDomain {
    position: fixed;
    width: 100%;
    height: 95%;
    top: 5%;
    overflow: auto;
    background: white;
    z-index: 2;
    /* Just to visualize the extent */
}

#Tree-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

/*-----stuff for top menu to attempt to simplify styling-------*/

#File-Menu {
    display: flex;
    width: 5vw;
    align-items: center;
    justify-content: center;
    height: var(--top-menu-icon-height);
    background-color: #D3D3D3;
    border: 1px solid black;
    border-radius: 4px;
    font-size: var(--top-menu-font-size);
    z-index: 4;
}

.TopBar {
    display: flex;
    min-height: var(--top-menu-icon-height);
    width: 9.75vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    border-left: 0.125vw solid black;
    border-right: 0.125vw solid black;
    border-radius: 3px;
}

.SelectedGraph {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 2px solid #666666;
    width: 7.5vw;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: var(--top-menu-font-size);
}

.TopBarIcon {
    width: 10vh;
    height: var(--top-menu-icon-height);
    border-radius: 4px;
    text-align: center;
    font-size: calc(1vh + 1vw);
    border: 1px solid black;
}

.ContextMenu {
    position: absolute;
    background: #ffffff;
    border: solid #444444;
    border-radius: 5px;
    z-index: 5;
}

/*------------------------------------------------------------*/

/*-------------------modal styling-----------------*/

#Github-Modal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 15%;
    background-color: #D3D3D3;
    height: 40vh;
    width: 50vw;
    z-index: 2;
}

#Github-Modal-Dialog {
    height: 100%;
    padding: 15px;
    margin: 15px;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    width: 100%;
}

/*-------------------------------------------------*/

/*------------file selection popup-----------------*/

#popup {
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    z-index: 3;
}

#popup button {
    margin: 10px;
}

/*-------------------------------------------------*/

#Repository-Dropdown,
#Account {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: var(--top-menu-icon-height);
    width: fit-content;
    border: 1px solid #666666;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    font-size: var(--top-menu-font-size);
}

#IconSelector {
    /*background: white;*/
    width: 100%;
    height: 100%;
    font-size: calc(0.7vh + 0.7vw);
    /*border-radius: 10px;*/
}

input,
button,
select {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: Black;
    font-size: calc(0.7vh + 0.7vw);
    display: flex;
}

.IconSelector .dropdown-menu.show {
    background-color: white;
    /***border: 2px groove #666666;***/
    overflow-y: auto;
    max-height: 35vh;
}

#ColourSelector {
    /*background: white;*/
    width: 100%;
    height: 100%;
    font-size: calc(0.7vh + 0.7vw);
    /*border-radius: 10px;*/
}

.ColourSelector div.dropdown-menu.show {
    background-color: white;
    border: 2px groove #666666;
    overflow-y: auto;
    max-height: 40vh;
    width: 200px;
}

.DropdownItem {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.buttonOfSomeForm {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.dropdownLabel {
    width: 15vw;
    font-size: calc(0.7vh + 0.7vw);
}

.checkBoxContainer {
    width: 5vw;
}

.CardinalityArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.LeftCheckboxLabel {
    width: 10vw;
}

.LeftCheckbox {
    width: 2vw;
}


#downloader,
#json-downloader,
#File-Select-Import,
#File-Select,
#file {
    color: black;
    text-decoration: none;
    border: none;
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 100%;
    word-wrap: normal;
    white-space: normal;
}

.hidden {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#downloader:hover,
#json-downloader:hover,
#File-Select:hover {
    cursor: pointer;
}

.DropdownItem {
    background: white;
}



.CMSelected {
    padding: 8px 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #b9cfe7;
    cursor: pointer;
    border-radius: 0px;
}

.CMitem {
    padding: 8px 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 0px;
}

.CMText {
    border: 1px solid #666666;
    /*height: 4.7vh;*/
    width: 10vw;
    height: 5vh;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: Black;
    text-align: center;
    font-size: var(--top-menu-font-size);
}

.LeftMenus {
    display: flex;
    height: 90vh;
    min-width: 15vw;
    width: 15vw;
    /***border: 2px groove #666666;***/
    flex-direction: column;
    border-top: none;
    background: none;
    resize: horizontal;
    overflow: auto;
    background-color: #D3D3D3;
}

.Toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: var(--top-menu-icon-height);
    width: 15vw;
}

.ToolbarItem {
    display: flex;
    width: calc(15vw/4);
    justify-content: center;
}

.VertexMenu,
.ArrowMenu {
    max-width: 15vw;
}

.LeftBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /***border: 2px groove #666666;***/
    height: calc(93vh/3);
    justify-content: center;
    width: 14.7vw;
}

.LeftLabel,
.LeftMenuButton {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /***border: none;
    border-top: 2px groove #666666;
    border-bottom: 2px groove #666666;***/
    align-items: center;
    justify-content: center;
    /*background-color: white;*/
    width: 15vw;
    font-size: calc(0.7vh + 0.7vw);
}

.LeftBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(0.7vh + 0.7vw);
}

.MenuTitle {
    padding-top: 0;
    margin-top: 0;
}

.LeftBodyMenu {
    align-items: flex-start;
    border-top: solid 0.3vh rgba(185, 184, 184, 0.596);
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
    padding-top: 1vh;
    width: 100%;
}

.OptionTitle h4 {
    padding-bottom: 2vh;
    margin: 0;
}

.LeftBody .MenuOptions {
    width: 100%;
}

.LeftBody ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.LeftBody ul li {
    width: 100%;
    display: inline-flex;
    margin-bottom: 1vh;
    justify-content: space-between;
}

.LeftBody label {
    width: fit-content;
    padding-inline-end: 1vw;
}

.LabelItem input {
    width: 8vw;
}

.LeftBodyMenu .Selector {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.LeftBodyMenu .Selector :hover {
    cursor: pointer;
}

.LeftSelector {
    width: 8vw;
    text-align-last: center;
}

.LeftBody ul .CardinalItem {
    margin-top: 2vh;
}

.LeftTitle {
    border: none;
    /***border-top: 2px groove #666666;
    border-bottom: 2px groove #666666;***/
    align-items: center;
    justify-content: center;
    width: 14.6vw;
    /*background-color: #E0FFFF;*/
    background-color: white;
    font-size: calc(0.7vh + 0.7vw);
}

.LeftHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /*border: 2px groove #666666;*/
    justify-content: center;
    width: 15vw;
    font-size: calc(0.7vh + 0.7vw);
    /*background-color: #DDEEFF;*/
}

.LeftContent {
    border: none;
    /*border-top: 2px groove #666666;
    border-bottom: 2px groove #666666;*/
    align-items: center;
    justify-content: center;
    resize: none;
    height: 10vh;
    width: 14.6vw;
    /*background-color: #E0FFFF;*/
    background-color: white;
    font-size: calc(0.7vh + 0.7vw);
}

.jstree-node {
    font-size: calc(0.6vh + 0.6vw);
    text-align: left;
}

.jstree li>a>.jstree-icon {
    display: none;
}

.CardinalityBox {
    width: 2.5vw;
}

.Canvas {
    width: 85vw;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid black;
}

.LeftSpacer {
    align-items: center;
    justify-content: center;
}

#drawCanvas {
    background-color: #c0c0c0;
}

img {
    margin: auto;
    display: block;
    width: 40%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

.hidden {
    display: none;
}

.vertexPath {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /***border: none;
    border-top: 2px groove #666666;
    border-bottom: 2px groove #666666;***/
    align-items: center;
    justify-content: center;
    /*background-color: white;*/
    width: 35vw;
    font-size: calc(0.7vh + 0.7vw);
}